{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Correo enviado</title>
<style>
body {
    background-image: url("{% static 'img/fondo2.jpg' %}");
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: Arial;
}
.container {
    background: linear-gradient(135deg, rgba(140,0,255,0.45), rgba(255,0,200,0.45));
    padding:30px;
    border-radius:20px;
    color:white;
    backdrop-filter: blur(12px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
    text-align:center;
}
</style>
    <link rel="stylesheet" href="{% static 'css/glassmorphism.css' %}">
</head>
<body>
<div class="container">
    <h3>Te hemos enviado un enlace a tu correo 📩</h3>
</div>
</body>
</html>
